*{
    color: #4c556c;
}
.title-resultado{
    font-size:40px;
    color: #0066B3;
    font-weight: 900;
}
.show-contest{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #CCC;
    align-items: center;

}
.inputs-search{
    color: rgb(51, 51, 51);
    padding-right: 20px;
}
#buscarConcurso{
    width: 60px;
    height: 40px;
    font-family: Arial;
    text-align: center;
    border: 1px solid #DDD;
}
.table-row{
    border-bottom: 1px solid #CCC;
}
.table-data{
    padding: 15px 15px 15px 50px;
    font-size: 25px;
    color: #930888;
}
.default-gray{
    color: #7f8182;
    font-weight: 600;
    font-size: 17px;
}
.text-box-p{
    font-size: 15px;
}
.box-p{
    width: 100%;
    height: auto;
    background-color: #F4F4F6;
    padding: 20px;
}
.vertical-center{
    display:flex;
    align-items: center;
}
.sllsl{
    font-weight: 500;
    font-size: 30px;
}
.sllsl2{
    font-weight: 500;
}
.footer{
    margin-top: 20px;
    height: 40px;
    background-color: #0065B8;
}